h1 {
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 0px;
}

figure{
    border-bottom: 2px solid black;
    margin: 0px;
}

body{
    box-sizing: border-box;
    border: 2px solid black;
    padding: 6px;
    width: 1200px;
    margin: 0 auto;
}

main{
    overflow: auto;
    box-sizing: border-box;
}

#container {
    width: 32%;
    position: relative;
    height: 465px;
    box-sizing: border-box;
    margin: 5px;
    float: left;
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: green;
}

a{
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#container2 {
    width: 32%;
    position: relative;
    height: 465px;
    box-sizing: border-box;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: green;
}

.img1{
    width: 200px;
    height: 150px;
}


#container3{
    width: 32%;
    position: relative;
    height: 465px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    float: left;
    border: 1px solid black;
    border-radius: 30px;
    background-color: green;
}

footer{
    font-weight: bold;
    color: white;
    background-color: black;
}
